<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://virtualkitchen-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>virtualkitchen-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>virtualkitchen__test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$virtualkitchen__test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VkitchenContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VKAPI.Models.VkitchenContext, VKAPI" MigrationConfiguration="VKAPI.Migrations.Configuration, VKAPI" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="virtualkitchendbEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=virtualkitchendb;password=Do2kj_DaB!3c;persistsecurityinfo=True;server=mysql2.gear.host;database=virtualkitchendb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\virtualkitchendbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.VKModel.csdl|res://*/Models.VKModel.ssdl|res://*/Models.VKModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=virtualkitchendb;password=Do2kj_DaB!3c;persistsecurityinfo=True;server=mysql2.gear.host;database=virtualkitchendb&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=virtualkitchendb;password=Do2kj_DaB!3c;persistsecurityinfo=True;server=mysql2.gear.host;database=virtualkitchendb" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user id=virtualkitchendb;password=Do2kj_DaB!3c;persistsecurityinfo=True;server=mysql2.gear.host;database=virtualkitchendb" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)virtualkitchendbEntities-Web.config Connection String" />
  </ItemGroup>
</Project>